ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #FF4747;
    text-align:center;
}
li{
    float: left;
    font-size: 20px;
}
li a{
    display: block;
    color: white;
    text-align: left;
    padding:10px 30px;
    text-decoration:none;
}
li a:hover{
    background-color:#2ACC18
}

